:root {
  --header-fg: white;
  --header-bg: #666;
  --table-border: #999;
  --transition-time: 0.1s;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 10px;
}

h2 {
  padding: 0;
  margin: 10px 0 5px;
  font-size: 18px;
}

#InputList {
  column-width: 450px;

  .kink-category {
    break-inside: avoid-column;
    overflow: auto;

    table {
      border-collapse: collapse;
      margin-bottom: 10px;
      width: 100%;

      th, td {
        padding: 4px;
      }

      thead {
        border: solid var(--table-border) 1px;
        margin: 0;
        background: var(--header-bg);
        color: var(--header-fg);

        .choicesCol {
          box-sizing: border-box;
          width: 145px; // TODO: Do not hardcode
        }
      }

      td {
        border: solid var(--table-border) 1px;
      }
    }
  }
}

// Choices
.choice {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  opacity: 0.35;
  border: solid black 1px;
  border-radius: 50%;
  outline-style: none !important;
  vertical-align: middle;
  display: inline-block;
}

.kink-choices, .selected {
  .choice {
    transition: all var(--transition-time) ease-in-out;

    & + .choice {
      margin-left: 5px;
    }

    &:hover {
      opacity: 0.75;
    }

    &.selected {
      opacity: 1;
      border-width: 2px;
    }
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  & > * {
    margin: 0.67em 0;
    display: inline-block;
  }

  h1 {
    margin-right: 15px;
  }

  .legend {
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 15px;

      .choice {
        opacity: 1;
      }
    }
  }

  .buttons button {
    //vertical-align: text-top;
    //margin-top: 2px;
    //box-sizing: border-box;
    background: #4980ae;
    color: white;
    text-transform: uppercase;
    padding: 8px 15px 5px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all var(--transition-time) ease-in-out;

    &:hover {
      opacity: 0.85;
    }
  }
}

// Name input
h1 input {
  font: inherit;
  width: 77.6875px; // Re-calculated, but this works out to be the starting width

  &::placeholder {
    color: lighten(grey, 20%);
  }
}

// Footer
footer {
  margin: 2em auto;
  text-align: center;
  opacity: .5;
}

// Overlay
.overlay {
  display: none !important;
}

@media (max-height: 500px) {
  #InputPrevious, #InputNext {
    display: none;
  }
}
